body{
    font-family: 'Montserrat', sans-serif !important;
}
.vertical{
    text-align: center;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    float: left; 
    height: 100%;
}
.navbar-item > img{
    max-height: 100% !important;
}
.navbar-item {
    background-color:#23d160; 
    color:#ffffff ;
}
.navbar-item:hover {
    background-color:#20bf58 !important; 
    color:#ffffff !important;
}
.navbar-item:active {
    background-color:#23d160 !important; 
    color:#ffffff !important;
}
.contacto{
    padding: 5%;
    border-radius: 5%;
    box-shadow: 5px 5px 40px #999999;
}
.hero ul li {
    padding: 10px 0px;
}
.hero  ul  li a{
    color:white;

}
.hero  ul  li a:hover {
    background-color:#20bf58; 
    color:white;
}
.card{
    margin: 5px !important;
}

.social li{
    display: inline-block;
}
.verde{
    background-color: #23d160 !important;
}
.icono-redondo{
    height: 100px !important;
    width: 100px !important;
    border-radius: 50% !important;
    background-color: #20bf58 !important;
    margin-top: 20px !important;
}
.contact{
    min-height: 350px !important;
}
.roboto{
    font-family: 'Roboto', sans-serif;
}
.img-avatar{
    border-radius: 50%;
    height:150px; 
    width:150px;
}

.img-avatar-bordered{
    border-radius: 50%;
    height:150px; 
    width:150px;
    border-color: #23d160;
    border-style: solid;
    background-color: #fff !important;
}
.ocultar{
    display: none !important;
}
.card-image{
    overflow: hidden;
}
.card-image  img {
    transition: transform .5s ease !important;
}
.card-image:hover  img {
    transform: scale(1.2) !important;
}
.slider-page{
    background: #23d160 !important;
}
.slider-navigation-next{
    background: #23d160 !important;
    color:#fff !important;
}
.slider-navigation-previous{
    background: #23d160 !important;
    color:#fff !important;
}
.text {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1em 0;
    background-color: #23d160;
    color: #fff;
}
.card-image:hover > .text {
    display: inherit;
    
}

.baja{
    bottom:0;
    vertical-align: bottom;
}
@media only screen and (max-width:768px){
    .banner{
        display: none !important;
    }
    .seccion{
 
        margin-bottom: 0px;
        
    }
    .burger{
        margin-right: 15px;
    }
    .titulo{
        margin-top: 100px;
        font-size: 50px;
    }
    .subtitulo{
        font-size: 30px;
        margin-left: 50px;
        margin-right: 50px;
    }

    #home{
        background-image: linear-gradient(
            rgba(0,0,0,.8),
            rgba(0,0,0,.8)
        ),
        url('../assets/bg1.jpg');
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        margin-bottom: 0px !important;
        height: 580px !important;
        
    }
    #about {
        background-image: linear-gradient(
            rgba(0,0,0,.8),
            rgba(0,0,0,.8)
        ),
        url('../assets/panel2.jpg');
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
    }
    #mensaje1{
        display: none;
    }
    #mensaje2{
        display: inherit;
    }
    #services{
        margin-top:0px;
    }
}

@media only screen and (min-width:769px){
    .primer-panel{
        margin-top: 100px !important;
    }
    #home{
        background-image: linear-gradient(
            rgba(0,0,0,.8),
            rgba(0,0,0,.8)
        ),
        url('../assets/bg1.jpg');
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        margin-bottom: 0px !important;
       
    }
    
    #about {
        background-image: linear-gradient(
            rgba(0,0,0,.8),
            rgba(0,0,0,.8)
        ),
        url('../assets/panel2.jpg');
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
    }
    #somos{
        margin-top: 10%;
        
    }
    .titulo{
        font-size: 100px;
    }
    .subtitulo{
        font-size: 30px;
        margin-left: 50px;
        margin-right: 50px;
    }
    #intro{
        margin-top: 100px;
    }
    #mensaje2{
        display:none;
    }
    .seccion{
        min-height: 100vh;
    }

}