body{
    font-family: 'Montserrat', sans-serif !important;
}
.vertical{
    text-align: center;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    float: left; 
    height: 100%;
}

.navbar-item {
    background-color:#23d160; 
    color:#ffffff ;
}
.navbar-item:hover {
    background-color:#20bf58 !important; 
    color:#ffffff !important;
}
.navbar-item:active {
    background-color:#20bf58 !important; 
    color:#ffffff !important;
}
.hero ul li {
    padding: 10px 0px;
}
.hero  ul  li a{
    color:white;

}
.hero  ul  li a:hover {
    background-color:#20bf58; 
    color:white;
}
.card{
    margin: 5px !important;
}

.social li{
    display: inline-block;
}
.verde{
    background-color: #23d160 !important;
}
.icono-redondo{
    height: 100px !important;
    width: 100px !important;
    border-radius: 50% !important;
    background-color: #20bf58 !important;
    margin-top: 20px !important;
}
.contact{
    min-height: 350px !important;
}
.roboto{
    font-family: 'Roboto', sans-serif;
}
.img-avatar{
    border-radius: 50%;
    height:150px; 
    width:150px;
}

.img-avatar-bordered{
    border-radius: 50%;
    height:150px; 
    width:150px;
    border-color: #23d160;
    border-style: solid;
}
.ocultar{
    display: none !important;
}

.text {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1em 0;
    background-color: #23d160;
    color: #fff;
}
.card-image:hover > .text {
    display: inherit;
    
}
@media only screen and (max-width:768px){
    .banner{
        display: none !important;
    }
    .introduccion{
        margin-top: 52px !important;
        margin-left: 30px !important;
        margin-bottom: 10px !important;
        color: #23d160 !important;
    }
    .seccion{
 
        margin-bottom: 0px;
        
    }
    .burger{
        margin-right: 15px;
    }
    #home{
        background-image: url('../assets/bg1.jpg') !important;
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        margin-bottom: 0px !important;
        height: 400px !important;
        
    }
    
    #services{
        margin-top:0px;
    }
}

@media only screen and (min-width:769px){
    img{
        height: 625px;
        width: 100%;
    }
    .seccion{
        min-height: 100vh;
    }
    .introduccion{
        margin-left: 70px !important;
    }

}