body{
    font-family: 'Montserrat', sans-serif !important;
}
.vertical{
    text-align: center;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    float: left; 
    height: 100%;
}
img{
    height: 100%;
    width: 100%;
}
.navbar-item {
    background-color:#23d160; 
    color:#ffffff ;
}
.navbar-item:hover {
    background-color:#20bf58 !important; 
    color:#ffffff !important;
}
.navbar-item:active {
    background-color:#20bf58 !important; 
    color:#ffffff !important;
}
.hero ul li {
    padding: 10px 0px;
}
.hero  ul  li a{
    color:white;

}
.hero  ul  li a:hover {
    background-color:#20bf58; 
    color:white;
}
.seccion{
    min-height: 100vh;
}
.card{
    margin: 5px !important;
}

.social li{
    display: inline-block;
}
.verde{
    background-color: #23d160 !important;
}
.icono-redondo{
    height: 100px !important;
    width: 100px !important;
    border-radius: 50% !important;
    background-color: #20bf58 !important;
    margin-top: 20px !important;
}
.contact{
    min-height: 350px !important;
}
.roboto{
    font-family: 'Roboto', sans-serif;
}
.img-avatar{
    border-radius: 50%;
    height:150px; 
    width:150px;
}

.img-avatar-bordered{
    border-radius: 50%;
    height:150px; 
    width:150px;
    border-color: #23d160;
    border-style: solid;
}
.ocultar{
    display: none !important;
}